<h2>D3 in Angular</h2>
<a routerLink="/bar-chart">Bar Chart</a><br>
<a routerLink="/donut">Donut</a><br>
 <a routerLink="/linebar">LineChart</a><br>
<!-- <a routerLink = "/scalechart">ScaleChart</a><br>  -->
<a routerLink="/coordinate">Coordinate</a><br>
<a routerLink="/groupedchart">GroupChart</a><br>
<a routerLink="/piechart">PieChart</a><br>
<!-- <a routerLink="/coloredchart">ColorChart</a><br> -->
<a routerLink="/colorpie">ColorBar</a><br>
<a routerLink="/groupedbar">GroupedBar</a><br>
<a routerLink="/pietool">PieTool</a><br>
<a routerLink="line">LineChart</a><br>
<a routerLink="/factory">FactoryDesign</a><br>
<a routerLink="/di">DI Design</a><br>
<!-- <a routerLink="/scatter">Scatter</a> -->
<router-outlet></router-outlet>

